@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&display=swap');

html{
	overflow-x: hidden;
}

body{
	margin: 0;
	overflow-x: hidden;
}

header{
	width: 100%;
	background: rgba(0,0,0,.75);
  transition:.3s linear;
  backdrop-filter: saturate(180%) blur(5px);
}

#logo{
	font-size: 100px;
	color: white;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#up{
	background-color: transparent;
	border-color: transparent;
	color: white;
	font-size: 30px;
	width: 100%;
	text-align: center;
	display: none;
	margin-top: 90px;
	outline: none;
  transition:.3s linear;
  cursor: pointer;
}

#up:hover{
	background-color: rgba(0,0,0,.5);
}

#toTop{
	border-radius: 100%;
	border-color: transparent;
	color: white;
	font-size: 20px;
	position: fixed;
	right: 3%;
	background-color: rgba(0,0,0,.5);
	display: none;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
	outline: none;
	cursor: pointer;
	transition: all.3s linear;
	animation-name: showToTop;
	animation-iteration-count: 1;
	animation-fill-mode: both;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.43,-0.06, 0.11, 2.21);
}

.moving-block{
	font-size: 100px;
}

#animation1{
	position: absolute;
	z-index: -100;
	left: -1000px;
	animation: moveFirst 15s infinite;
}

#animation2{
	position: absolute;
	z-index: -99;
	left: 3000px;
	animation: moveSecond 20s infinite;
	animation-delay: 5s;
}

#animation3{
	position: absolute;
	z-index: -98;
	top: 145px;
	left: 3000px;
	animation: moveThird 30s infinite;
	animation-delay: 15s;
}

.article-pic
{
  width: 39%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  vertical-align: top;
  transition:.3s linear;
}

.article-pic img
{
  width: 90%;
  transition:.3s linear;
}

section img
{
  float: left;
  margin-right: 15px;
  transition:.3s linear;
}

.article-text
{
  max-width: 55%;
  display: inline-block;
  transition:.3s linear;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 20px;
  margin: 10px;
}

section
{
  padding-top: 0;
  padding-bottom: 0;
  background-color: white;
  padding: 50px 0px 50px 0px;
  min-height: 285px;
  transition:.3s linear;
}

section:nth-child(4n+3) div.article-pic{
	float: right;
}

section:nth-child(2n+5) div.article-pic img{
	margin-left: 15px;
}

section:first-child{
	padding: 20px 0px 50px 15px;
}

section:last-child{
	padding: 50px 0px 50px 0px;
}

#list{
	height: fit-content;
  display: flex;
  justify-content: space-around;
}

#list a{
	height: fit-content;
  font-size: 18px;
  line-height: 61px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  padding: 0px 10px;
  transition: all.3s linear;
}

#list a:hover{
	background-color: rgba(0,0,0,.5);
}

@keyframes moveFirst {
  from {
    left: -1000px;
    top: 0;
		transform: rotateZ(0deg);
  }
  to { 
    left: 2360px; 
    top: 145px;
		transform: rotateZ(360deg);
  }  
}

@keyframes moveSecond{
	from {
    left: 3000px;
    top: 0;
		transform: rotateZ(0deg);
  }
  to { 
    left: -2360px; 
    top: 145px;
		transform: rotateZ(360deg);
  }  
}

@keyframes moveThird{
	from {
    left: 3000px;
    top: 145px;
		transform: rotateZ(0deg);
  }
  to { 
    left: -2360px; 
    top: 0px;
		transform: rotateZ(360deg);
  }  
}

@keyframes showToTop{
	0%{
		bottom: -1%;
		opacity: 0;
	}
	100%{
		bottom: 5%;
		opacity: 1;
	}
}

::-webkit-scrollbar {
  width: 10px; 
  background-color: rgba(0,0,0,.75);
}

::-webkit-scrollbar-thumb:vertical {
  background-color: #666666;
  -webkit-border-radius: 80px;
}
::-webkit-scrollbar-thumb:vertical:active {
  -webkit-border-radius: 80px;
}

@media all and (max-width: 800px){
	section img{
		float: none;
		margin: 0px;
	}

	section{
		padding: 0px;
	}

	section:nth-child(4n+3) div.article-pic{
		float: none;
	}

	section:nth-child(2n+5) div.article-pic img{
		margin: 0px 0px 0px 0px;
	}

	section:first-child{
		padding: 0px 0px 0px 0px;
	}

	#logo{
		height: 40%;
	}

	#list{
		display: block;
		text-align: center;
	}

	#list a{
		display: block;
	}

	.article-pic{
		width: 100%;
		display: flex;
    justify-content: center;
	}

	.article-pic img{
		width: -webkit-fill-available;
	}

	.article-text{
		max-width: 100%;
		display: block;
	}
}