@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arimo');

body{ margin: 0; overflow: hidden; }

#oldie{
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background: rgba(255, 255, 255, .85);
  color: rgb(0, 0, 0);
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1000;
}

#loadingScreen{
  opacity: 1;
  position: absolute;
  z-index: 102;
  background-color: rgba(204,204,204, .6);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

#loadingContent{
  width: 100%;
}

#loadingContent img{
  width: 25%;
  object-fit: cover;
}

@media screen and (max-width: 665px){
  #loadingContent img{
    width: 45%
  }
}

#phrases{
  opacity: 1;
}

h5, h3{
  width: 100%;
  text-align: center;
}

.menu{
  position: fixed;
  width: 100%;
  z-index: 100;
  -webkit-backdrop-filter: saturate(180%) brightness(0.65) blur(15px);
          backdrop-filter: saturate(180%) brightness(0.65) blur(15px);
}

.fas{
  color: black;
  font-size: 20px;
}

#nav{
	z-index: 100;
  display: flex;
  align-items: center;
}

#inf{
  position: fixed;
  background-color: rgba(225,225,225,.5);
  -webkit-backdrop-filter: saturate(180%) brightness(0.65) blur(15px);
          backdrop-filter: saturate(180%) brightness(0.65) blur(15px);
  height: 91vh;
  width: 100vw;
  z-index: 100;
  top: 96%;
  overflow-y: auto;
  color: black;
}

#infp{
  font-family: 'Oswald', serif;
  font-size: 22px;
}

#collapse{
  background-color: transparent;
  color: black;
  display: none;
  cursor: pointer;
}

#cut{
  background-color: transparent;
  color: black;
  display: none;
}

#cutter{
  font-size: 25px;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}

#collapse-down{
  display: none;
}

#collapse-up{
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.fa-sort-up{
  font-size: 35px;
}

.fa-caret-left{
  font-size: 35px;
}

#cutter-div{
  position: absolute;
  top: 18%;
  z-index: 50;
}

#quality{
  position: absolute;
  top: 12%;
  z-index: 50;
  transition: right .3s linear, left .3s linear;
  right: 10px;
}

#content{
  position: fixed;
  background-color: rgba(225,225,225,.5);
  z-index: 100;
  left: calc(100vw - 30px);
  height: 100vh;
  width: 35vw;
  -webkit-backdrop-filter: saturate(180%) blur(15px);
          backdrop-filter: saturate(180%) blur(15px);
  color: black;
  transition-property: left;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

#filling{
  height: 100%;
  overflow: auto;
}

.labelS{
  position: fixed;
  height: 100%;
  padding-left: 7px;
}

.labelS label#collapse-left{
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.top-menu {
  background: rgba(130,130,130,.75);
  height: 9vh;
}

label[for="menu"]{
  height: 9vh;
}

.navbar-logo {
  display: inline-block; margin: 20px 0px 0px 20px;
}

.menu-main {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-main li {
  display: inline-block;
  position: relative;
  margin-left: 20px;
}

.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 55px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: white;
  transition: all .3s linear;
}

.menu-main a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.menu-main a:not([href]) {
  color: #007bff;
}

.menu-main a:not([href]):hover {
  color: #007bff;
  text-decoration: none;
  cursor: default;
}

.submenu{
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10;
  background: rgba(130,130,130,.75);
  top: 110%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.submenu li a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 55px;
  padding-left: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: white;
  transition: all .3s linear;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.submenu li a:hover{
  color: #0056b3;
  text-decoration: underline;
}

#earth:hover .submenu{
  visibility: visible;
  opacity: 1;
}

.arrow{
  position: absolute;
  display: block;
  width: .8rem;
  height: .4rem;
  left: calc(50% - .4rem);
  top: -.4rem;
}

.arrow::before {
  position: absolute;
  content: "";
  border-color: transparent;
  border-style: solid;
  bottom: 0;
  border-width: 0 .4rem .4rem;
  border-bottom-color: rgba(130,130,130,.75);
}

@media (max-width: 870px) {
  .menu-main {
    float: none;
  }
  .top-menu {
    text-align: center;
  }

  .menu-main a {
    padding: 0 10px;
  }

  .dws-menu{
    overflow: hidden;
  }

  .dws-menu ul.menu-main{
    display: none;
    position: relative;
  }

  .dws-menu label.toggleMenu{
    display: flex!important;
    align-content: center;
    justify-content: center;
  }

  .submenu{
    position: relative;
    visibility: visible;
    border: none!important;
    opacity: 1;
    -webkit-animation: fadeIn 0.5s linear;
            animation: fadeIn 0.5s linear;       
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s;
  }

  .arrow{
    left: calc(50% - .8rem);
  }

  .menu-main li{
    display: block;
    margin-left: 0;
    -webkit-animation: fadeIn 0.5s linear;
            animation: fadeIn 0.5s linear;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }

  .menu-main li:nth-child(1) {
    -webkit-animation-delay: 0.05s;
            animation-delay: 0.05s;
  }

  .menu-main li:nth-child(2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }

  .menu-main li:nth-child(3) {
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
  }

  .menu-main li:nth-child(4) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }

  .menu-main li:nth-child(5) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }

  .menu-main li:nth-child(6) {
    -webkit-animation-delay: 0.35s;
            animation-delay: 0.35s;
  }

  .menu-main li:nth-child(7) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }

  .menu-main li:nth-child(8) {
    -webkit-animation-delay: 0.45s;
            animation-delay: 0.45s;
  }

  .menu-main li:nth-child(9) {
    margin-bottom: 5rem;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }

  .dws-menu label.toggleMenu .fas{
    color: black;
    display: flex;
    align-items: center;
  }

  #quality{
    left: 10px;
    right: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 10px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}

.dws-menu label.toggleMenu{
  background-color: transparent;
  color: black;
  display: none;
  cursor: pointer;
}
.dws-menu input#menu{
  display: none;  
}

#playPause{
  background-color: transparent;
  color: black;
  display: none;
}

#play{
  margin: 10px;
  cursor: pointer;
  display: none;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
}

#pause{
  margin: 10px;
  cursor: pointer;
  display: block;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.card{
  background-color: rgba(225,225,225,.3)!important;
}

#collapseOne .card-body p {
  text-indent: 15px;
  text-align: justify;
}

.btn-link{
  font-size: 20px!important;
}

div#myth p{
  text-indent: 20px;
  font-size: 18px;
  text-align: justify;
}

.modal-header h5{
  text-align: center;
}

.abs-btn{
  position: absolute;
}

::-webkit-scrollbar-button {
  background-image: url('');
  background-repeat: no-repeat;
  border-radius: 3px;
  width: 8px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color:rgba(225,225,225,.5);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(219,219,219,.85);
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgba(219,219,219,.95);
}

::-webkit-resizer{
  background-image: url('');
  background-repeat: no-repeat;
  border-radius: 3px;
  width: 8px;
  height: 0px;
}

::-webkit-scrollbar{
  width: 8px;
  border-radius: 3px;
}
